VITE_SUPABASE_URL=https://dplzsinymsoyudtlabhd.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRwbHpzaW55bXNveXVkdGxhYmhkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODYyNDU0MDIsImV4cCI6MjEwMTgyMTQwMn0.o77vKrX3HJF7b5qJmizA3-1VScwVj5om6zbPhYTrNyM
VITE_GITHUB_PAT=your_github_pat_token_here
