PORT=3000
NODE_ENV=development

# GitHub REST API Configuration & Personal Access Token (PAT)
GITHUB_OWNER=AidonPatrao
GITHUB_REPO=ai-llm-rag-analyzer
GITHUB_PAT=your_github_pat_token_here

# LLM Configuration
OLLAMA_URL=http://127.0.0.1:11434
GRANITE_MODEL=granite4:3b

# Supabase Credentials
SUPABASE_URL=https://dplzsinymsoyudtlabhd.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRwbHpzaW55bXNveXVkdGxhYmhkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODYyNDU0MDIsImV4cCI6MjEwMTgyMTQwMn0.o77vKrX3HJF7b5qJmizA3-1VScwVj5om6zbPhYTrNyM
DATABASE_URL=postgresql://postgres:postgres@db.dplzsinymsoyudtlabhd.supabase.co:5432/postgres
